packages:
  yum:
    amazon-linux-extras: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel

container_commands:
  01_migration:
      command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations"
  02_migrate:
      command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
      leader_only: true
  03_collectstatic:
      command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
